h1 {
    color: var(--pico-h1-color) !important;
}

h2 {
    color: var(--pico-h2-color) !important;
}

h3 {
    color: var(--pico-h3-color) !important;
}

h4 {
    color: var(--pico-h4-color) !important;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--pico-background-color);
    border-bottom: 1px solid var(--pico-form-element-border-color);
    z-index: 1;
}

.controls h1 {
    border: none;
    font-weight: 400;
}

.word-input-wrapper {
    display: flex;
}

.word-input-wrapper .word-input {
    border-radius: 0.25rem 0 0 0.25rem;
}

.word-input-wrapper button.word-input-button  {
    border-radius: 0 0.25rem 0.25rem 0;
    width: 20%;
    padding: 5px;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attempts {
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0.25rem;
}

.attempts small {
    display: block;
    margin: 0.1rem;
    display: none;
}

.attempts small:nth-last-child(1) {
    display: block;
}

.attempts small:nth-last-child(2) {
    display: block;
    opacity: 0.6;
}

.attempts small:nth-last-child(3) {
    display: block;
    opacity: 0.3;
}

.hit {
    animation: hit 3s 0s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}

@keyframes hit {
    0% {
        transform: scale(1);
        color: var(--pico-color)
    }
    50% {
        transform: scale(1.4);
        color: #d0b873;
    }
    100% {
        transform: scale(1);
        color: var(--pico-color)
    }
}

figure {
    width: 100%;
}

@media (min-width: 576px) {
    figure {
        width: unset;
    }
}