<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.sand.min.css"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <script src="{{ .BaseUrl }}/game.js"></script>
    <link rel="stylesheet" href="{{ .BaseUrl }}/style.css" />
    <link rel="stylesheet" href="{{ .BaseUrl }}/pico-modal.css" />
    <title>Wikidle</title>
  </head>
  <body>
    <div class="container">
      <div class="pico controls">
        <hgroup>
          <h1>Wikidle</h1>
          <p id="motd">{{ .MOTD }}</p>
        </hgroup>
        <div>
          <div class="attempts" id="attempts">{{ .Attempts }}</div>
          <form
            hx-post="{{ .BaseUrl }}/search"
            hx-swap="beforeend"
            hx-target="#attempts"
            hx-on::after-request="this.reset();document.querySelector('#attempts').scroll(0, 999999999);"
          >
            <div class="word-input-wrapper" id="word-input-wrapper">
              {{ template "search.html" . }}
              <button class="word-input-button" type="submit">
                <img src="{{ .BaseUrl }}/img/search.svg" alt="Buscar" />
              </button>
            </div>
          </form>
        </div>
      </div>
      <main class="container">
        <div id="article">{{ .Article }}</div>
      </main>
      {{ if eq .Modal "" }}
      <dialog id="game-win-modal" class="pico"></dialog>
      {{ else }} {{ .Modal }} {{ end }}
    </div>
    {{ if .Won }}
    <script>
      onGameWin();
    </script>
    {{ end }}
  </body>
</html>
