<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="{{ .BaseUrl }}/pico.conditional.sand.min.css"
    />
    <script src="{{ .BaseUrl }}/htmx.min.js"></script>
    <script src="{{ .BaseUrl }}/game.js"></script>
    <script src="{{ .BaseUrl }}/storage.js"></script>
    <link rel="stylesheet" href="{{ .BaseUrl }}/style.css" />
    <link rel="stylesheet" href="{{ .BaseUrl }}/pico-modal.css" />
    <title>Wikidle</title>
  </head>
  <body>
    <div class="container">
      <div class="pico controls">
        <hgroup>
          <h1>Wikidle</h1>
          <p id="motd">{{ .MOTD }}</p>
        </hgroup>
        <div>
          <div class="attempts" id="attempts">{{ .Attempts }}</div>
          <form
            hx-post="{{ .BaseUrl }}/search"
            hx-swap="beforeend"
            hx-target="#attempts"
            hx-on::before-request="unhighlightWords();"
            hx-on::config-request="beforeRequest(event);"
            hx-on::after-request="this.reset();document.querySelector('#attempts').scroll(0, 999999999);"
          >
            <div class="word-input-wrapper" id="word-input-wrapper">
              {{ template "search.html" . }}
              <button class="word-input-button" type="submit">
                <img src="{{ .BaseUrl }}/img/search.svg" alt="Buscar" />
              </button>
            </div>
          </form>
        </div>
      </div>
      <main class="container">
        <div
          id="article"
          hx-post="{{ .BaseUrl }}/init"
          hx-trigger="load"
          hx-swap="beforeend"
          hx-target="#attempts"
          hx-on::before-request="unhighlightWords();"
          hx-on::config-request="beforeRequest(event);"
        >
          {{ .Article }}
        </div>
      </main>
      <button id="up-button" class="up-button hidden" onclick="scrollToTop()">
        <img src="{{ .BaseUrl }}/img/arrow-big-up-line.svg" alt="Subir" />
      </button>
      {{ if eq .Modal "" }}
      <dialog id="game-win-modal" class="pico"></dialog>
      {{ else }} {{ .Modal }} {{ end }}
    </div>
    {{ if .Won }}
    <script>
      onGameWin();
    </script>
    {{ end }}
  </body>
</html>
